
body {
    background-color: black;
    font-family: 'Yusei Magic', sans-serif;
    color: white;
    background-image: url("https://i.pinimg.com/originals/7f/0d/aa/7f0daa836ef8f200af63b5427d6564b2.gif");
    background-repeat: no-repeat, repeat;
}