
body {
    background-color: black;
    font-family: 'Yusei Magic', sans-serif;
    color: white;
    background-image: url("https://64.media.tumblr.com/43a020962df050f8073d3dccccf99f15/tumblr_okkifbxhdJ1vm8ltno1_500.gifv");
    background-repeat: no-repeat, repeat;
}